.contacts {
    width: 1111px;
    margin: 310px 164px 30px 165px;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}
.contacts__block_first {
    display: flex;
    height: 88px;
    width: 452px;

}
.contacts__phone {
    width: 178px;
    height: 40px;
}
.contacts__phone_value {
    width: 118px;
    height: 40px;
    white-space: nowrap;

}
.contacts__address{
    width: 66px;
    height: 40px;
    margin-left: 246px;

}
.contacts__address_value {
    width: 208px;
    height: 40px;
    margin-left: 246px;
}

.contacts__line_gorizont {
    width: 1110px;
    height: 1px;
    margin-top: 52px;
    margin-bottom: 60px;
}
.contacts__services {
    width: 167px;
    height: 259px;
}

.services{
    width: 167px;
    height: 38px;
}

.contacts__services_value{
    margin-top: 21px;
    width: 159px;
    height: 200px;
}

.contacts__title {
}
.contacts__item {
}

.contacts__block_second{
    display: flex;
}


.contacts__help_and_advice {
    margin-left: 100px;
    width: 160px;
    height: 219px;
}

.help_and_advice{
    width: 139px;
    height: 38px;
}
.contacts__help_and_advice_value {
    margin-top: 21px;
    width: 160px;
    height: 160px;
}

.contacts__company {
    margin-right: 13px;
    margin-left: 100px;
    width: 167px;
    height: 219px;
}

.company{
    width: 167px;
    height: 38px;
}
.contacts__company_value{
    margin-top: 21px;
    width: 159px;
    height: 160px;

}
.contacts__help_and_advice_value {
    margin-top: 21px;
    width: 159px;
    height: 160px;
}

.contacts__line-vertical {
}
.contacts__get_in_touch {
    margin-left: 110px;
    width: 322px;
    height: 232px;
}
.get_in{
    width: 111px;
    height: 38px;
}
.contacts__get_in_touch_value {
    margin-top: 23px;
    width: 270px;
    height: 52px;
}
.info_web_class{
    margin-top: 23px;
    margin-bottom: 24px;
}
.info_web{
    font-size: 24px;
    width: 319px;
    height: 38px;
}


.contacts__description {
}
.contacts__email {
}
.contacts__social-icon {
}
.contacts__bot {
    display: flex;
    width: 1110px;
    height: 60px;
}
.contacts__logo-img {
}   
.contacts__logo-text {
}
.contacts__copyright {
    margin-left: 621px;
    white-space: nowrap;
}

.logo_eye{
    width: 200px;
    height: 30px;
    white-space: nowrap;
}